- LadderEmail.send_new_ad_email(@ad).deliver_now
- ClientEmail.send_client_email(@ad).deliver_now
%h1 Thank you, your order has been received! 

%p= "We're set to make you #{@ad.variations} awesome #{"ad".pluralize(@ad.variations)}!"

%p= "Your total came to $#{@ad.price.floor}"  

