- Analytics.track(user_id: "#{current_user.id}", event: 'Bought Ad', properties: { price: @ad.price})

%h1 Thank you, your order has been received! 

%p= "We're set to make you #{@ad.variations} awesome #{"ad".pluralize(@ad.variations)}!"

%p= "Your total came to $#{@ad.price.floor}"
- LadderEmail.send_new_ad_email(@ad).deliver_later
- ClientEmail.send_client_email(@ad).deliver_later
